/* Slider.css */
.slider {
  width: 100%;
  height: 40em;
  position: relative;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img.active {
  opacity: 1;
}

/* Stilizimi për butonat */
.slider-buttons {
  position: absolute;
  bottom: 20px; /* Vendosni pozicionin vertikal të butonave sipas nevojës */
  left: 50%;
  transform: translateX(-50%);
}

.slider-buttons button {
  background-color: #fff; /* Ngjyra e sfondit të butonit */
  color: #000; /* Ngjyra e tekstit të butonit */
  border: none; /* Hiqni kufirin e butonit nëse është e nevojshme */
  padding: 10px 20px; /* Vendosni hapësirën përmbi dhe në të djathtë të tekstit në buton */
  margin: 0 5px; /* Vendosni margjinin midis butonave sipas nevojës */
  cursor: pointer; /* Kursori të bëhet pointer kur kalon mbi butonin */
  transition: background-color 0.3s ease; /* Tranzicioni i ngjyrës së sfondit kur kalon mbi butonin */
}

.slider-buttons button.active {
  background-color: #ccc; /* Ngjyra e sfondit e butonit kur është aktiv */
}

